.row
  .small-12.large-12.columns
    %table
      %thead
        %tr
          %th(width="200") Customer Name
          %th Pets
          %th(width="300") Email
          %th(width="125") Phone Number
          %th Contact
          %th Update
      %tbody
        -5.times do
          %tr
            %td
              = link_to "#{Faker::Name.name}"
            %td
              = rand(4)
            %td
              = link_to "#{Faker::Internet.email}"
            %td 543-342-6542
            %td
              =link_to "Email", nil, class: 'tiny button', style:'margin: 2px 5px 2px 5px'
            %td
              =link_to "Update", nil, class: 'tiny button alert', style:'margin: 2px 5px 2px 5px'