.row
  %table
    %thead
      %tr
        %th(width="300") Customer Name
        %th # of Pets
        %th(width="300") Email
        %th(width="125") Phone Number
        %th Contact
    %tbody
      -5.times do
        %tr
          %td
            = link_to "#{Faker::Name.name}"
          %td
            = rand(4)
          %td
            = link_to "#{Faker::Internet.email}"
          %td 543-342-6542
          %td(class="tiny button" style="margin: 2px 5px 2px 5px")
            Send Email
